:root {
  --primary: #05ed14;
  --bg: #f3fdf3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap Condensed";
  background-origin: var(--bg);
  height: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.11);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar .navbar-main a {
  display: inline-block;
  margin: 0 0.3rem;
}

#menu {
  color: #adadad;
  margin-top: 0;
}

#menu:hover {
  color: #000000;
}

#navbar-logo {
  font-family: "Comic Neue";
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar .navbar-main span {
  color: #000000;
}

.navbar .search-container {
  background-color: #f5f5f5;
  border-radius: 0.3rem;
}

.navbar .search-container button {
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: var(--primary);
  color: #fff;
}

.navbar .search-container button:hover {
  background-color: #08db16;
  cursor: pointer;
}

.navbar input[type="text"] {
  background-color: #f5f5f5;
  color: #757575;
  padding: 0.2rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  border: none;
}

.navbar .navbar-search a {
  color: #fff;
  background-color: var(--primary);
}

.navbar .account-info #search {
  display: none;
}

.navbar .account-info a {
  color: #adadad;
  margin: 0 0.5rem;
}

.navbar .account-info a:hover {
  color: #000000;
}

.wrapper {
  background: var(--bg);
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  min-height: 100vh;
}

.wrapper.dark {
  filter:brightness(50%);
  animation: 0.75s darker;
}

@keyframes darker {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(50%);
  }
}

.wrapper .sidebar {
  background: #fff;
  box-shadow: 5px 2px 8px -1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 5px 2px 8px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 2px 8px -1px rgba(0, 0, 0, 0.11);
  position: fixed;
  left: -100%;
  width: 275px;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
  transition: all 0.5s ease;
}

.wrapper .sidebar.active {
  left: 0;
}

.wrapper .sidebar ul {
  list-style-type: none;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
  color: #4dc455;
  font-size: 1rem;
  font-family: "open sans", sans-serif;
}

.wrapper .sidebar ul li a .icon {
  color: #a8a8a8;
  display: inline-block;
}

.wrapper .sidebar ul li a .item {
  margin-left: 1.5rem;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #fff;
  background: var(--primary);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.wrapper .section {
  background: var(--bg);
  width: 100%;
  height: 90vh;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  transition: margin-left 0.5s ease, width 1s ease;
  overflow: auto;
}

/* Section shrinking while sidebar active */
.wrapper .section.shrink {
  margin-left: 275px;
  width: calc(100vw - 275px);
}

/* Tablet and Mobile Phone*/
/* Section darkening while sidebar active */
@media (max-width: 768px) {
  .navbar .account-info #search {
    display: inline;
  }  

  .navbar .search-container {
    display: none;
  }

  .wrapper .sidebar.active {
    z-index: 1000;
  }
  
  .wrapper .section.shrink {
    margin-left: 0;
    width: 100%;
    z-index: 0;
    filter: brightness(50%);
    animation: 0.5s darker;
  }
}

.wrapper .section p {
  color: #8c8c8c;
}

.wrapper .section .card-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.wrapper .section .card-container .card {
  background: #fff;
  display: inline-block;
  color: #adadad;
  border-radius: 0.6rem;
  box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
  -webkit-box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
  -moz-box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
  width: 15rem;
  height: 15rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
  cursor: pointer;
}
  
.footer {
  height: 3rem;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primary);
}