.wrapper .section .card-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
  
.wrapper .section #plant-container .card {
    background: #fff;
    display: inline-block;
    color: #000000;
    border-radius: 0.6rem;
    box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
    -webkit-box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
    width: 16rem;
    height: 16rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    cursor: pointer;
}

.wrapper .section #plant-card {
    padding: 0.6rem;
    color: #000000;
}

.wrapper .section #plant-card .card-title {
    display: flex;
}

.wrapper .section #plant-card .card-title .checked {
    position: relative;
    color: #757575;
    font-size: 2rem;
}

.wrapper .section #plant-card .card-title .checked.active {
    color: #5bd76b;
}

.wrapper .section #plant-card .card-title .title {
    margin-left: 0.5rem;
    padding-top: 0.2rem;
    max-width: 8rem;
}

.wrapper .section #plant-card .card-title .delete-button {
    background: #ff0000;
    color: #fff;
    right: 0;
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

.wrapper .section #plant-card .card-info {
    margin-top: 0.5rem;
    padding: 0 2.2rem;
    display: flex;
    justify-content: space-between;
}

.wrapper .section #plant-card .card-info {
    text-align: center;
}

.wrapper .section #plant-card .card-info p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #000000;
}

.wrapper .section #plant-card .card-info span {
    font-size: 1.5rem;
    font-weight: bold;
}

.wrapper .section #plant-card .card-chart {
    margin-top: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.wrapper .section #plant-card .card-chart.active {
    background: #5bd76b;
}

.wrapper .section #plant-container .card .canvas {
    height: 100%;
    width: 100%;
}

.wrapper .section #plus-card {
    padding-top: 2.5rem;
    text-align: center;
}

/* Plus Icon */
.plus {
    --b: 0.4rem; /* the thickness */
    width: 8rem; /* the size */
    aspect-ratio: 1;
    border: 10px solid #f0f0f0; /* the outer space */
    background:
    conic-gradient(from 90deg at var(--b) var(--b),#f0f0f0 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
    display: inline-block;
}

.alt {
    border: none;
    margin: 10px;
    background:
    conic-gradient(from 90deg at var(--b) var(--b),#fff 90deg,#f0f0f0 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
}

.wrapper .section .progress-text {
    display: none;
}

.wrapper .section .progress-text.active {
    display: grid;
}

.wrapper .section #progress-container {
    display: none;
}

.wrapper .section #progress-container.active {
    display: flex;
}

.wrapper .section #progress-container .card {
    background: #fff;
    color: #adadad;
    border-radius: 0.6rem;
    box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
    -webkit-box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 6px 36px -13px rgba(0,0,0,0.61);
    width: 33rem;
    height: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    cursor: pointer;
}

.wrapper .section #progress-container .card .canvas {
    height: 100%;
    width: 100%;
}

.popUp {
    position: absolute;
    top: -120%;
    left: 20%;
    opacity: 0;
    background-color: #f0f0f0;
    transform: translate(-50%-50%) scale(1.25);
    width: 900px;
    height: 480px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popUp.active {
    top: 20%;
    opacity: 1;
    transform: translate(-50%-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;

}
@media (max-width: 780px) {
    .popUp {
        width: 80%; /* Adjust the width as needed for smaller screens */
        left: 50%;
        transform: translateX(-50%);
    }
    .popUp .viewTable {
        display: none; /* Hide the viewTable when screen width is less than 780px */
    }

    .popUp .tab-content {
        width: 100%; /* Adjust the width for full width when viewTable is hidden */
    }
}


.popUp .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 17px;
    border-radius: 20px;
    cursor: pointer;

}

/* Tambahkan gaya CSS untuk tab dan konten tab */
.popUp .tabs {
    display: flex;
    margin-bottom: 15px;
    width: 300px;
}

.popUp .tab-btn {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #95f886;
    
}

.popUp .tab-btn.active {
    background-color: #2eec3b;
  
}

.popUp .tab-content {
    position: absolute;
    width: 300px;
    float: left;
    display: none;
}

.popUp .tab-content.active {
    display: block;
}

.popUp .viewTable{
    width: 60%;
    float: Right;

}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.submit {
    width: 150px; /* Sesuaikan lebar yang diinginkan */
    height: 40px; /* Sesuaikan tinggi yang diinginkan */
    background-color: #3498db; /* Sesuaikan warna latar belakang */
    color: #fff; /* Warna teks */
    border: none;
    border-radius: 5px; /* Memberikan sudut lengkung pada tombol */
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Membuat tombol berada di tengah secara horizontal */
}

/* Saat tombol dihover, Anda bisa menambahkan efek warna atau perubahan lainnya */
.submit:hover {
    background-color: #2980b9;
}

.upload {
    width: 100px; /* Sesuaikan lebar yang diinginkan */
    height: 20px; /* Sesuaikan tinggi yang diinginkan */
    background-color: #3498db; /* Sesuaikan warna latar belakang */
    color: #fff; /* Warna teks */
    border: none;
    border-radius: 5px; /* Memberikan sudut lengkung pada tombol */
    cursor: pointer;
    display: block;
    margin-top: 90px;
    /* margin: 0 auto; Membuat tombol berada di tengah secara horizontal */
}

/* Saat tombol dihover, Anda bisa menambahkan efek warna atau perubahan lainnya */
.upload:hover {
    background-color: #2980b9;
}


.popUp .tab-btn:hover {
    background-color: rgba(0, 255, 68, 0.1);
}

/* Tabel */
.viewTable {
    width: 100%;
    max-height: 400px; /* Atur tinggi maksimum div sebelum muncul scroll */
    overflow: auto; /* Menambahkan properti overflow untuk scroll */
    border: 1px solid #ddd; /* Contoh garis pembatas */
    padding: 1px; /* Contoh padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Contoh bayangan */
    background-color: rgb(255, 255, 255); /* Contoh warna latar belakang */
    border-radius: 5px;
}
.viewTable h2 {
    margin-top: 10px;
    text-align: center;
}

#data-table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}

#data-table th, #data-table td {
    border: 2px solid #dddddd;
    padding: 2px;
    text-align: left;
}

#data-table th {
    background-color: #f2f2f2;
}

#data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#data-table tbody tr:hover {
    background-color: #dcdcdc;
}
